.header {
    height: 100vh;
    background-image: url(../images/header_photo.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    &_wrapper {
        transform: translate(-50%, -50%);
        width: 350px;
        height: 350px;
        border-radius: 50%;
        top: 45%;
        left: 50%;
    }
    &_tittle {
        position: absolute;
        width: 90%;
        color: white;
        top: 80%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}