.navbar {
    position: fixed;
    width: 100vw;
    min-width: 414px;
    border-bottom: 1px solid black;
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    @media (min-width: 768px) {
        justify-content: space-between;
    }
    &_logo {
        height: 70px;
    }
    &_title {
        font-size: 28px;
        margin: auto;
        text-align: center;
    }
    &_hamburger {
        width: 35px;
        height: 35px;
        margin: auto 20px;
        &:hover {
            cursor: pointer;
        }
        @media (min-width: 768px) {
            display: none;
        }
    }
    &_bar {
        position: relative;
        height: 7px;
        width: 100%;
        background-color: black;
        &-top {
            &-show {
                transform: translateY(100%) rotate(-45deg);
            }
        }
        &-middle {
            bottom: -7px;
            &-show {
                opacity: 0;
            }
        }
        &-bottom {
            transform: translateY(200%);
            &-show {
                transform: translateY(-100%) rotate(45deg);
            }
        }
    }
    &_list {
        position: fixed;
        background-color: white;
        display: flex;
        flex-direction: column;
        width: 100%;
        top: 70px;
        visibility: hidden;
        opacity: 0;
        list-style: none;
        text-align: center;
        border-top: 1px solid black;
        text-transform: uppercase;
        @media (min-width: 768px) {
            position: static;
            border-top: none;
            flex-direction: row;
            visibility: visible;
            margin: auto 0;
            width: 55%;
            opacity: 1;
        }
        &-item {
            padding: 5px;
            width: 100vw;
            border-bottom: 1px solid black;
            &:hover {
                background-color: black;
                color: white;
            }
            @media (min-width: 768px) {
                width: 100%;
                cursor: pointer;
                line-height: 70px;
                height: 70px;
                border-bottom: none;
            }
        }
    }
}